<title><%= title %></title>

<h1>Bienvenido, <%= accountData.account_firstname %></h1>
    <p>Has iniciado sesión correctamente.</p>
    
    <p>Tu correo electrónico es: <%= accountData.account_email %></p>
    
    <a href="/account/logout">Cerrar sesión</a>