 <h1><%= title %></h1>
 <%- messages() %>


<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="account_email" required>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="account_password" required>
  </div>
  <button type="submit">Iniciar sesión</button>

  <p>Don't have an account? <a href="/account/register">Register here</a></p>
  
</form>