<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <body style="background-image: url('/images/site/small_check.jpg'); background-repeat: repeat; background-size: auto;"></body>
    <main>
      <h1>Carol Nacher probando</h1>
      <p>Bienvenido a CSE Motors 🚗</p>
    </main>
  </div>
</body>
</html>
