
<link rel="stylesheet" href="public/css/inventory.css">
<%# ============================= %>
<%# The Content Heading %>
<%# ============================= %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%# ============================= %>
<%# Section: Messages %>
<%# ============================= %>
<%# messages() %>

<%# ============================= %>
<%# Section:Inventory Grid  %>
<%# ============================= %>
<%- grid %>
