
<%# ============================= %>
<%# The Content Heading %>
<%# ============================= %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%# ============================= %>
<%# Section: Messages %>
<%# ============================= %>
<%# messages() %>

<%# ============================= %>
<%# Section:Inventory Grid  %>
<%# ============================= %>
<div class="container">
  <%- grid %>
</div>
