<%# ============================= %>
<%# The Content Heading %>
<%# ============================= %>
<% if (title) { %>

<h1><%= title %></h1>
<% } else {
// Si no hay título, redirigimos al inicio.
res.redirect('/')
} %>
<%# ============================= %>
<%# Section: Messages %>
<%# ============================= %>
<%# messages() %>

<%# ============================= %>
<%# Section: Detalle del Vehículo %>
<%# ============================= %>

<div class="detail-container">

<%- detail %>




</div>