<%# ============================= %>
<%# The Content Heading %>
<%# ============================= %>
<% if (title) { %>

<h1><%= title %></h1>
<% } else {
res.redirect('/')
} %>
<%# ============================= %>
<%# Section: Messages %>
<%# ============================= %>
<%# messages() %>

<%# ============================= %>
<%# Section: Detalle del Vehículo %>
<%# ============================= %>
<h2>Manage Inventory</h2>
<div class="detail-container">

<%- detail %>


</div>