<h1><%= title %></h1>
<p><%= message %></p>

  <div class="scene">
    <div class="cat">
      <div class="ear left"></div>
      <div class="ear right"></div>
      <div class="eye left"></div>
      <div class="eye right"></div>
      <div class="tail"></div>
    </div>
    <div class="ball"></div>
  </div>

  <a href="/" class="btn">Volver al inicio</a>