<h1><%= title %></h1>
<p><%= message %></p>

  
<div class="container-error">
  <div class="shadow"></div>
  <div class="cat">
    <div class="ear"></div>
    <div class="eye"></div>
    <div class="mouth"></div>
    <div class="nose"></div>
    <div class="tail"></div>
    <div class="nuget"></div>
    <div class="bubble"></div>
   <div class="mouse">
  <div class="mouse-nose"></div>
</div>
  </div>
</div>