<h1><%= title %></h1>
<p><%= message %></p>

  
  <div class="scene">
    <div class="cat" id="cat"></div>
    <div class="ball" id="ball"></div>
  </div>

  <a href="/" class="btn">Volver al inicio</a>
